.wrapper {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
    background-color: lightgrey;
    min-height: 50%;
    padding: 5px;
}

.wrapper > * {
    background-color: white;
}

aside {
    display:flex;
    flex-direction: column;
    max-height: 90%;
    overflow: auto;
}