#contenu.cache {
    visibility: hidden;
}

#contenu {
    background-color: orange;
    font-size: 2em;
    color: white;
}

#bas{
    background-color: red;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
#wrapper {
    display: flex;
    flex-direction: column;
}

.houdini{
    align-self: flex-end;
}
